h1, h4 {
  font-family: "Rock Salt", sans-serif; }

.jumbotron,
.card,
.navbar-toggler {
  background-color: #42855B; }

nav {
  background-color: #483838; }

a,
footer {
  color: #D2D79F;
  letter-spacing: 1px; }

body {
  background-color: #90B77D;
  color: #D2D79F;
  letter-spacing: 4px; }

footer {
  background-color: #483838; }

svg {
  fill: #D2D79F; }

.jumbotron {
  background: linear-gradient(#42855B, #483838); }

.modal-header,
form {
  color: #483838;
  font-weight: 600;
  letter-spacing: 0px; }
